body {
	text-align: center;
	font-family: 'Times New Roman', serif;
	list-style-position: inside;
	background-color: lightcyan;
	animation: bg_change 40s infinite 0.5s;
}

@keyframes bg_change {
	0% {
		background-color: lightcyan;
	}
	50% {
		background-color: lightpink;
	}
	100% {
		background-color: lightcyan;
	}
}

h1 {
	font-size: 30px;
}

#name {
	padding: 0px;
}

p {
	font-size: 20px;
}

#contact {
	justify-content: center;
	display: flex;
	h5{
		padding: 6px;
	}
}

.smaller {
	font-size: 17.5px;
}