body {
	text-align: center;
	font-family: 'Times New Roman', serif;
	list-style-position: inside;
	background-color: aqua;
	animation: bg_change 60s infinite 0.5s;
}

ul {
	display: inline-block;
	width: 33%;
	list-style-type: circle;
	border-style: solid;
	padding: 0;
}

li {
	background-color: lightskyblue;
	animation: list_bg_change 60s infinite 0.5s;
	padding: 4px;
}

@keyframes list_bg_change {
	0% {
		background-color: lightskyblue;
	}
	24.99%{
		background-color: lightskyblue;
	}
	25% {
		background-color: lightpink;
	}
	49.99% {
		background-color: lightpink;
	}
	50% {
		background-color: lightgreen;
	}
	74.99% {
		background-color: lightgreen;
	}
	75% {
		background-color: #FFFF70;
	}
	99.99% {
		background-color: #FFFF70;
	}
	100% {
		background-color: lightskyblue;
	}
}

@keyframes bg_change {
	0% {
		background-color: aqua;
	}
	24.99%{
		background-color: aqua;
	}
	25%{
		background-color: red;
	}
	49.99%{
		background-color: red;
	}
	50% {
		background-color: #32DE84;
	}
	74.99%{
		background-color: #32DE84;
	}
	75%{
		background-color: yellow;
	}
	99.99%{
		background-color: yellow;
	}
	100%{
		background-color: aqua;
	}
}

h1 {
	font-size: 45px;
}

#name {
	padding: 0px;
	margin: 0px;;
}

p {
	font-size: 30px;
}

hr {
	height: 3px;
	background-color: black;
	border: none;
}

#contact {
	justify-content: center;
	display: flex;
	h5{
		padding: 6px;
	}
}

.smaller {
	font-size: 26.25px;
}